<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.yamba">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StatusActivity"
            android:label="@string/status_update"
            android:parentActivityName="com.example.android.yamba.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.yamba.MainActivity" />
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="@string/action_settings" />

        <activity android:name=".DetailsActivity" />

        <service android:name=".StatusUpdateService"
            android:exported="false"/>

        <service android:name=".RefreshService"
            android:exported="false"/>

        <provider
            android:name=".StatusProvider"
            android:authorities="com.example.android.yamba.StatusProvider"
            android:exported="false" />

        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.android.yamba.action.UPDATED_INTERVAL" />
            </intent-filter>
        </receiver>

        <receiver android:name=".YambaWidget"
            android:exported="false"  >
            <intent-filter>
                <action android:name="com.example.android.yamba.action.NEW_STATUSES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/yamba_widget" />
        </receiver>
    </application>

</manifest>